table, th, td {
 border: 5px solid black;
 border-collapse: collapse;

}
table {
    width:100%;
    border-spacing:  1px;

}
th, td {padding: 15px}


th, td {text-align: center;}


th {background-color: chocolate}


td { background-color: darkgrey}